<app-campaign-header></app-campaign-header>
<div class="container-fluid" *ngIf="campaign">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/campaign/{{ campaign_id }}/performance">Performance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/campaign/{{ campaign_id }}/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/campaign/{{ campaign_id }}/content">Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/campaign/{{ campaign_id }}/widgets">Widgets</a>
        </li>
    </ul>
    <h3 class="m-3">Campaign Settings</h3>
    <div class="w-50 m-3">
        <h2>Basic Info</h2>
        <p><span>ID: </span>{{ campaign.id }}</p>
        <div class="mb-3">
            <label class="form-label">Campaign Name</label>
            <input class="form-control mt-3" type="text" placeholder="Campaign Name" [(ngModel)]="campaign.name">
        </div>
        <div class="mb-3">
            <label class="form-label">CPC</label>
            <input class="form-control mt-3" type="text" placeholder="Campaign CPC" [(ngModel)]="campaign.cpc">
        </div>
        <div class="mb-3">
            <label class="form-label">Budget</label>
            <input class="form-control mt-3" type="number" placeholder="Campaign Budget" [(ngModel)]="campaign.budget">
        </div>
        <h2>Scheduling</h2>
        <div class="mb-3">
            <label class="form-label">Start Date</label>
            <input class="form-control mt-3" type="date" placeholder="Start Date" [(ngModel)]="campaign.scheduling.startDate">
        </div>
        <div class="mb-3">
            <label class="form-label">End Date</label>
            <input class="form-control mt-3" type="date" placeholder="End Date" [(ngModel)]="campaign.scheduling.endDate">
        </div>
        <div class="d-grid gap-3 d-md-block">
            <button class="btn btn-outline-secondary" (click)="goBack()" type="button">Go Back</button>
            <button class="btn btn-primary" (click)="updateCampaign(campaign)" type="button">Update</button>
        </div>
    </div>
</div>
