<app-campaign-header></app-campaign-header>
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/campaign/{{ campaign_id }}/performance">Performance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/campaign/{{ campaign_id }}/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/campaign/{{ campaign_id }}/content">Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/campaign/{{ campaign_id }}/widgets">Widgets</a>
        </li>
    </ul>
</div>