<app-publisher-header></app-publisher-header>
<div class="container-fluid">
    <div class="d-grid d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" routerLink="/sites/create">Add Site</button>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Site Name</th>
            <th scope="col">Created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let site of sites">
            <th scope="row">{{ site.id }}</th>
            <td>{{ site.siteName }}</td>
            <td>{{ site.dateCreated }}</td>
          </tr>
        </tbody>
      </table>
</div>